SNACKBAR DIRECTIVE
<h2>Snackbar Directive</h2>
<button ShowSnackbarOnClick="Test">Show snackbar</button>
<br />
<!-- DIALOG DIRECTIVE -->
<br />
<h2>Dialog Directive</h2>
<button
  confirmDialog="Are you sure that you want to do this?"
  (confirmed)="onConfirmed($event)"
>
  Confirm
</button>
<br />
<h2>Block paste Directive</h2>
<input blockPaste />
<textarea blockPaste></textarea>
<br />
<h2>Background Carousel Directive</h2>
<div
  [bgCarousel]="['rgb(0, 255, 255)', 'rgb(255, 0, 255)']"
  bgCarouselWidth="100"
  bgCarouselHeight="100"
  movable
></div>
<br />
<h2>Delete Directive</h2>
<button deleteProduct="1">Delete me!</button>
<br />
<h2>Feature Flag Directive</h2>
<div data-test-id="directive">
  <div *featureFlag="'FEATURE_4'; else fallback">Enabled</div>
</div>
<ng-template #fallback>Fallback</ng-template>
<br />
<h2>Url Validator directive</h2>
<form [formGroup]="urlForm">
  <div>
    <mat-form-field appearance="fill"
      ><mat-label>Url</mat-label>
      <input
        matInput
        type="url"
        placeholder="Url"
        formControlName="url"
      />
      <mat-error *ngIf="urlForm.touched && urlForm.get('url')?.hasError('mustStartWithHttpOrHttps')">URL must start with http:// or https://</mat-error>
      <mat-error *ngIf="urlForm.touched && urlForm.get('url')?.hasError('mustEndWithDotDomain')">URL must end with .domain</mat-error>
    </mat-form-field>
  </div>
</form>
<br />
<h2>Tel Validator directive</h2>
<form [formGroup]="telForm">
  <div>
    <mat-form-field appearance="fill"
      ><mat-label>Tel</mat-label>
      <input
        matInput
        type="tel"
        placeholder="Tel"
        formControlName="tel"
        [pattern]="'^[0-9]{3}-[0-9]{3}-[0-9]{3}$'"
      />
      <mat-error *ngIf="telForm.get('tel')?.hasError('invalidPattern')">Invalid number</mat-error>
    </mat-form-field>
  </div>
</form>
